################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/data-base/cambios_PKG_MRV_INICIATIVA_MITIGACION.sql
