
@{
    ViewBag.Title = "MantenimientoTablas";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Tablas</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Mantenimiento de Tablas&nbsp;<br><small class="text-muted">Seleccione el tipo de mantenimiento que desea realizar de acuerdo a las tablas maestras que utiliza el sistema.</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <form>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-table"></i></span></div>
                                    <select class="form-control cbo-list" id="cbo-tabla-mantenimiento" required>
                                        <option value="0" data-url="">-Seleccione una Tabla de Matenimiento-</option>
                                        <option value="1" data-url="">Mantenimiento de Usuarios</option>                                        
                                        <option value="2" data-url="">Mantenimiento de Energético</option>
                                        <option value="3" data-url="">Mantenimiento de Instituciones</option>
                                        <option value="4" data-url="">Mantenimiento de Ubicaciones</option>
                                        @*<option value="5" data-url="">Mantenimiento de Medidas de Mitigación</option>*@
                                        <option value="5" data-url="">Mantenimiento de Sectores</option>
                                        @*<option value="7" data-url="">Mantenimiento de Ubicaciones</option>*@
                                        @*<option value="6" data-url="">Mantenimiento de Parámetros de Medida de Mitigación</option>*@
                                        <option value="6" data-url="">Mantenimiento de Monedas</option>
                                        @*<option value="7" data-url="">Mantenimiento de Indicadores de Medida de Mitigación</option>*@
                                        <option value="7" data-url="">Mantenimiento de Gases de efecto invernadero</option>
                                        @*<option value="8" data-url="">Mantenimiento de Ayuda en Linea y Ayuda Contextual</option>*@
                                        <option value="8" data-url="">Mantenimiento de Enfoques</option>
                                        <option value="9" data-url="">Mantenimiento de Escenarios</option>
                                        <option value="10" data-url="">Mantenimiento de Medidas de Mitigación Detalle</option>
                                        <option value="11" data-url="">Mantenimiento de Valores de los Factores</option>
                                        <option value="12" data-url="">Mantenimiento de Factores</option>
                                        <option value="13" data-url="">Mantenimiento de Medidas de Mitigación</option>
                                        <option value="14" data-url="">Mantenimiento de IPCC</option>
                                        <option value="15" data-url="">Mantenimiento de Namas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                                <div class="col-sm-12 col-md-6 col-lg-6"><a class="btn btn-success w-100 mb-2 go-select" href="#" id="ir-mantenimiento" onclick="fn_irMantenimiento();"><i class="far fa-hand-point-up px-1"></i>Ir al mantenimiento</a></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        fn_actualizaCampana();
        enLinea();
    });
</script>
<script src="~/js/MantenimientoTablas.js"></script>
