@{
    ViewBag.Title = "MedidaMitigacion";
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/js/Ubicacion.js"></script>

<div class="mt-5 p-5">

    <div class="row">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nombre Medmit </th>
                    <th>Descripcion Medmit</th>
                    <th>Nama</th>
                    <th>Numero Medmit</th>
                    <th>Objetivo Medmit</th>
                    <th>IPCS Medmit</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="tablaMedidaMitigacion"></tbody>
        </table>
    </div>

    <div class="row">
        <strong>MANTENIMIENTO</strong>
    </div>

    @*<div class="row">
            <label>Descripción</label>
            <input type="text" id="editarDescripcion" class="form-control" /><br />
            <br><input class="btn btn-dark" value="Guardar" type="button" onclick="fn_editarUbicacion();" /><div id="editarIdUbicacion" data-value=""></div>

        </div>*@




    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Editar
    </button>


    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Descripción</label>
                    <input type="text" id="editarMedidaMitigacion" class="form-control" />
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary" onclick="fn_editarMedidaMitigacion();">Save changes</button>
                    <div id="editarIdMedmit" data-value=""></div>
                </div>
            </div>
        </div>
    </div>



</div>

