
@{
    ViewBag.Title = "RegistroIniciativaMitigacion";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

<script type="text/javascript" src="~/js/NuevaIniciativaMitigacion.js"></script>


<div class="p-5 mt-5">

    <div class="container mt-5">

        <label>MEDIDA MITIGACION</label>
        <select class="form-control" id="regMitigacion" onchange="fn_ObtenerMedidaMitigacion();">
            <option value="0">-Seleccione Medida Mitigación-</option>
        </select>

        <label>CATEGORIA IPSS</label>
        <input class="form-control" type="text" id="regCategoria" />

        <label>OBJETIVO</label>
        <input class="form-control" type="text" id="regObjetivo" />

        <label>DESCRIPCION</label>
        <input class="form-control" type="text" id="regDescripcion" />

        <label>NOMBRE DE LA INICIATIVA</label>
        <input class="form-control" type="text" id="regNombreIniciativa" />

        <label>DESCRIPCION DE LA MEDIDA</label>
        <input class="form-control" type="text" id="regDescripcionMedida" />

        <label>NOMBRE DEL RESPONSABLE</label>
        <input class="form-control" type="text" id="regNombreResponsable" />

        <label>CORREO DEL RESPONSABLE</label>
        <input class="form-control" type="text" id="regCorreoResponsable" />

        <label>NOMBRE DE LA INSTITUCION</label>
        <input class="form-control" type="text" id="regNombreInstitucion" />

        <label>DIRECCION</label>
        <input class="form-control" type="text" id="regDireccionInstitucion" />

        <label>SECTOR DE LA INSTITUCION</label>
        <input class="form-control" type="text" id="regSectorInstitucion" />

        <label>UBICACION</label><br />
        <div id="listaUBICACION"></div>

        <label>MONTO DE INVERSION</label>
        <input class="form-control" type="text" id="regMontoInversion" />

        <label>MONEDA</label>
        <select class="form-control" id="regMoneda">
            <option value="0">-Seleccione Moneda-</option>
        </select>

        <label>FECHA DE IMPLEMENTACION</label>
        <input class="form-control" type="date" id="regFechaImplementacion" />

        <label>INDICADORES</label><br />

        <label>ENERGETICO ASOCIADO</label>
        <div id="listaENERG"></div>

        <label>GASES DE EFECTO INVERNADERO</label>
        <div id="listaGEI"></div>


        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="regPrivacidad">
                <label class="custom-control-label" for="regPrivacidad">Hacer públicos los datos</label>
            </div>
        </div>

        <input id="regIniciativaMitigacion" type="button" class="btn-primary" onclick="fn_RegistrarIniciativaMitigacion();" value="Grabar" />

    </div>

</div>