@{
    ViewBag.Title = "Acción Mitigación";
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/js/AccionMitigacion.js"></script>

<div class="flecha-top"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
<div class="container-fluid bg-nama-azul" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Iniciativas de Mitigación</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="h4">Listado de Acciones de Mitigación&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Utilice la búsqueda para ubicar su acción de mitigación <br>las acciones de mitigación pendientes o aprobadas no pueden ser editadas</small></div>
                <div class="row">
                    <div class="col-6 pt-4">
                        <form>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                    <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="titulo-avanzado" data-toggle="collapse" href="#busqueda-avanzada" aria-expanded="false" aria-controls="busqueda-avanzada"><span>Búsqueda avanzada&nbsp;<i class="fas fa-sort"></i></span></div>
                                                <div class="collapse" id="busqueda-avanzada">
                                                    <div class="card card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-left">
                                                                <div class="titulo-avanzado" data-toggle="collapse" href="#datos-principales" aria-expanded="false" aria-controls="datos-principales">
                                                                    <span>
                                                                        <i class="far fa-list-alt"></i>&nbsp;
                                                                        Datos Principales
                                                                    </span>
                                                                </div>
                                                                <div class="collapse" id="datos-principales">
                                                                    <div class="card card-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group">
                                                                                    <label for="medMitigacion">Medida de Mitigación&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-tachometer-alt"></i></span></div>
                                                                                        <select class="form-control" id="medMitigacion" aria-describedby="inputGroup2">
                                                                                            <option>-Seleccione una Medida de Mitigación-</option>
                                                                                            @*<option>Medida de Mitigación 01</option>
                                                                                            <option>Medida de Mitigación 02</option>
                                                                                            <option>Medida de Mitigación 03</option>*@
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group">
                                                                                    <label for="txt-nombre-iniciativa">Nombre de la Iniciativa&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="far fa-comment-alt"></i></span></div>
                                                                                        <input class="form-control" type="text" id="txt-nombre-iniciativa" placeholder="Ingrese nombre de la iniciativa" aria-describedby="inputGroup3">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="txt-fecha-inicio">Fecha de Inicio&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-calendar-alt"></i></span></div>
                                                                                        <input class="form-control" type="date" id="txt-fecha-inicio" placeholder="Ingrese nombre de la iniciativa" aria-describedby="inputGroup4" min="2000-01-01" max="2030-12-01">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="cbo-duracion-proyecto">Duración del proyecto&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-calendar-alt"></i></span></div>
                                                                                        <select class="form-control" id="cbo-duracion-proyecto" aria-describedby="inputGroup5">
                                                                                            <option>-Duración en años-</option>
                                                                                            <option>1 año</option>
                                                                                            <option>2 años</option>
                                                                                            <option>3 años</option>
                                                                                            <option>4 años</option>
                                                                                            <option>5 años</option>
                                                                                            <option>6 años</option>
                                                                                            <option>7 años</option>
                                                                                            <option>8 años</option>
                                                                                            <option>9 años</option>
                                                                                            <option>10 años</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 py-2 text-left">
                                                                <div class="titulo-avanzado" data-toggle="collapse" href="#datos-generales" aria-expanded="false" aria-controls="datos-generales">
                                                                    <span>
                                                                        <i class="far fa-list-alt"></i>&nbsp;
                                                                        Datos Generales
                                                                    </span>
                                                                </div>
                                                                <div class="collapse" id="datos-generales">
                                                                    <div class="card card-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group">
                                                                                    <label for="mSector">Sector&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                                                                        <select class="form-control" id="mSector" aria-describedby="inputGroup6">
                                                                                            <option>-Seleccione-</option>
                                                                                            @*<option>Privado - Micro empresa (10 < colaboradores)</option>
                                                                                            <option>Privado - Pequeña empresa (> 10 - < 50 colaboradores)</option>
                                                                                            <option>Privado - Mediana empresa (> 50 - < 250 colaboradores)</option>
                                                                                            <option>Privado - Gran empresa (> 250 colaboradores)</option>
                                                                                            <option>Público - (50 < colaboradores)</option>
                                                                                            <option>Público - (> 50  < 250 colaboradores)</option>
                                                                                            <option>Público - (> 250 colaboradores)</option>
                                                                                            <option>Público - Hospitales (< 50 camas)</option>
                                                                                            <option>Público - Hospitales (> 50 camas)</option>*@
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="mMoneda">Moneda&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="far fa-money-bill-alt"></i></span></div>
                                                                                        <select class="form-control" id="mMoneda" aria-describedby="inputGroup7">
                                                                                            <option>-Seleccione-</option>
                                                                                            @*<option>Soles</option>
                                                                                            <option>Dólares</option>*@
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="txt-monto-inversion">Monto de inversión&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-wallet"></i></span></div>
                                                                                        <input class="form-control" type="text" id="txt-monto-inversion" placeholder="Ingrese monto" aria-describedby="inputGroup8">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 text-left">
                                                                <div class="titulo-avanzado" data-toggle="collapse" href="#indicadores" aria-expanded="false" aria-controls="indicadores">
                                                                    <span>
                                                                        <i class="far fa-list-alt"></i>&nbsp;
                                                                        Indicadores
                                                                    </span>
                                                                </div>
                                                                <div class="collapse" id="indicadores">
                                                                    <div class="card card-body">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="cbo-energetico-base">Energético de linea base&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                                                                        <select class="form-control" id="cbo-energetico-base" aria-describedby="inputGroup9">
                                                                                            <option>-Seleccione-</option>
                                                                                            <option>Diesel</option>
                                                                                            <option>Electricidad</option>
                                                                                            <option>Gas Licuado de petróleo</option>
                                                                                            <option>Gas Natural</option>
                                                                                            <option>Gasolina</option>
                                                                                            <option>Leña</option>
                                                                                            <option>Petróleo residual</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="cbo-energetico-base">Energético de proyecto&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-bolt"></i></span></div>
                                                                                        <select class="form-control" id="cbo-energetico-base" aria-describedby="inputGroup10">
                                                                                            <option>-Seleccione-</option>
                                                                                            <option>Diesel</option>
                                                                                            <option>Electricidad</option>
                                                                                            <option>Gas Licuado de petróleo</option>
                                                                                            <option>Gas Natural</option>
                                                                                            <option>Gasolina</option>
                                                                                            <option>Leña</option>
                                                                                            <option>Petróleo residual</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-success w-100"><i class="fas fa-file-download px-1"></i>Descargar Excel</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-success w-100" type="submit"><i class="fas fa-search px-1"></i>Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 pt-4">
                        <!--&nbsp;-->
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4 px-0">
                <div class="h5">Bandeja de Acciones de Mitigación&nbsp;<i class="fas fa-question-circle text-primary" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <table class="table table-hover">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th class="text-center" scope="col"><span>#&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th scope="col"><span>Nombre de Iniciativa&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th scope="col"><span>Progreso&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th scope="col"><span>Fecha de Inicio&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th scope="col"><span>Medida de Mitigación&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th scope="col"><span>Entidad&nbsp;<i class="fas fa-sort"></i></span></th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpoMitigacion">
                                @*<tr>
                                    <th class="text-center" scope="row">1</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">2</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">3</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">4</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">5</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">6</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">7</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">8</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" scope="row">9</th>
                                    <td>Nombre de la Iniciativa</td>
                                    <td></td>
                                    <td>20/03/2020</td>
                                    <td>Etiquetado de eficiencia energética</td>
                                    <td>Entidad Responsable</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <div class="acciones dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-plus-circle"></i>&nbsp;
                                                    Ver más
                                                </a><a class="dropdown-item" href="#">
                                                    <i class="fas fa-history"></i>&nbsp;
                                                    Seguimiento
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
