@model MRVMinem.Models.MvSesion
@{
    ViewBag.Title = "Confirmar Correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m => m.identificador)

<div>

    <p id="respuesta"></p>

</div>


