@model MRVMinem.Models.MvSesion
@{
    ViewBag.Title = "Confirmar Correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m => m.identificador)

<div class="mt-5">
    <div class="mt-5 p-5">

        <div class="mt-5 pt-5">
            <p id="respuesta"></p>
        </div>
    </div>
    
    

</div>
<script type="text/javascript">
    var vurl = '@Url.Content("~")';
</script>
<script src="~/js/ConfirmarCorreo.js"></script>


